<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html, body {
            height: 100%;
            background-color: lightgray;
            font-family: monospace;
            font-size: large;
            font-weight: bold;
        }

        #wrap {
            min-height: 100%;
            width: 100%;
        }

        #main {
            overflow: auto;
            width: 100%;
            padding-bottom: 150px; /* this needs to be bigger than footer height*/
        }

        .btn-secondary:active {
            background: black !important;
        }

        .footer {
            position: relative;
            margin-top: -150px; /* negative value of footer height */
            height: 150px;
            clear: both;
            padding-top: 20px;
        }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand active d-inline-block w-100px" href=@Url.Action("HomePage","Sunglasses")>DarkMode</a>
            <div class="navbar-collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item mr-1 ml-1">
                        <p class="navbar-btn">
                            <a class="btn btn-secondary" href=@Url.Action("Category", "Sunglasses", new { category = "women" })>Women</a>
                        </p>
                    </li>
                    <li class="nav-item mr-1 ml-1">
                        <a class="btn btn-secondary" href=@Url.Action("Category", "Sunglasses", new { category = "men" })>Men</a>
                    </li>
                    <li class="nav-item mr-1 ml-1">
                        <p class="navbar-btn ">
                            <a class="btn btn-secondary" href=@Url.Action("Category", "Sunglasses", new { category = "kids" })>Kids</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mr-1 ml-1">
                            <a class="btn btn-secondary" href=@Url.Action("ShoppingCard", "CardItems")>
                                <i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>Shopping Cart
                            </a>
                        </li>
                        <li class="nav-item mr-1 ml-1">
                            <a class="btn btn-secondary" href=@Url.Action("WishList", "WishListItems")>
                                <i class="fa fa-heart pr-2"></i>Wish List
                            </a>
                        </li>
}

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mr-1 ml-1">
                            <a class="btn btn-secondary" href=@Url.Action("Login", "Account")>
                                <i class="fa fa-sign-in pr-2"></i>Login
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mr-1 ml-1">
                            <p class="btn btn-secondary" href=#> @User.Identity.Name</p>
                        </li>
                        <li class="nav-item mr-1 ml-1">
                            <a href=@Url.Action("Logout", "Account") class="btn btn-secondary"><i class="fa fa-sign-out white text-center pt-1"></i></a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    @if (User.IsInRole("ADMIN"))
    {
        <nav class="navbar navbar-expand navbar-dark bg-dark" id="adminNav">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item mr-1 ml-1">
                        <p class="navbar-btn">
                            <a class="btn btn-secondary" href=@Url.Action("Index", "Sunglasses")>Manage sunglasses</a>
                        </p>
                    </li>
                    <li class="nav-item mr-1 ml-1">
                        <a class="btn btn-secondary" href=@Url.Action("Index", "Brands")>Manage brands</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
        <div id="wrap">
            <div id="main" class="container clear-top">
                <p>@RenderBody()</p>
            </div>
        </div>


        <footer class="page-footer font-small white pt-4 text-white bg-dark">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row text-white">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">DarkMode</h5>
                        <p>darkmode@oficcial.com.mk</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Search</h5>

                        <ul class="list-unstyled text-white">
                            <li>
                                <a href=@Url.Action("Category", "Sunglasses", new { id = "women" })>Women</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Category", "Sunglasses", new { id = "men" })>Men</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Category", "Sunglasses", new { id = "kids" })>Kids</a>
                            </li>
                            <li>
                                <a href="#!">Brands</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">See also</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About us</a>
                            </li>
                            <li>
                                <a href="#!">Contact</a>
                            </li>
                            <li>
                                <a href="#!">Adrress</a>
                            </li>
                            <li>
                                <a href="#!">Map</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2019 Copyright:
                <a href="#"> JoJo</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/popper")
        @Scripts.Render("~/bundles/jquery-ui")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">

            $(function () {
                $('p').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');
                });
            });

        </script>
    </body>
</html>

